---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import NavDropdown from './NavDropdown.astro';
import NavDropdownMobile from './NavDropdownMobile.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const solutionDescription = {
  primary: t('nav.solutions.description.primary'),
  secondary: t('nav.solutions.description.secondary'),
};
const solutionsContent = [
  {
    title: t('nav.solutions.content.ai.title'),
    href: `/${lang}/services`,
    description: t('nav.solutions.content.ai.description'),
  },
  {
    title: t('nav.solutions.content.web.title'),
    href: `/${lang}/services`,
    description: t('nav.solutions.content.web.description'),
  },
  {
    title: t('nav.solutions.content.infra.title'),
    href: `/${lang}/services`,
    description: t('nav.solutions.content.infra.description'),
  },
  {
    title: t('nav.solutions.content.tools.title'),
    href: `/${lang}/services`,
    description: t('nav.solutions.content.tools.description'),
  },
];

const technologiesDescription = {
  primary: t('nav.technologies.description.primary'),
  secondary: t('nav.technologies.description.secondary'),
};
const technologiesContent = [
  {
    title: t('nav.technologies.content.frontend.title'),
    href: `/${lang}/technologies`,
    description: t('nav.technologies.content.frontend.description'),
  },
  {
    title: t('nav.technologies.content.backend.title'),
    href: `/${lang}/technologies`,
    description: t('nav.technologies.content.backend.description'),
  },
  {
    title: t('nav.technologies.content.ai.title'),
    href: `/${lang}/technologies`,
    description: t('nav.technologies.content.ai.description'),
  },
  {
    title: t('nav.technologies.content.devops.title'),
    href: `/${lang}/technologies`,
    description: t('nav.technologies.content.devops.description'),
  },
];

const companyDescription = {
  primary: t('nav.company.description.primary'),
  secondary: t('nav.company.description.secondary'),
};
const companyContent = [
  {
    title: t('nav.company.content.about.title'),
    href: `/${lang}/about`,
    description: t('nav.company.content.about.description'),
  },
  {
    title: t('nav.company.content.work.title'),
    href: `/${lang}/work`,
    description: t('nav.company.content.work.description'),
  },
  {
    title: t('nav.company.content.blog.title'),
    href: `/${lang}/blog`,
    description: t('nav.company.content.blog.description'),
  },
  {
    title: t('nav.company.content.industries.title'),
    href: `/${lang}/industries`,
    description: t('nav.company.content.industries.description'),
  },
  {
    title: t('nav.company.content.contact.title'),
    href: `/${lang}/contact`,
    description: t('nav.company.content.contact.description'),
  },
];
---

<header
  id="main-header"
  class="bg-dark sticky top-0 z-50 transition-transform duration-500 ease-in-out"
>
  <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
    <div class="text-2xl font-bold">
      <a href={'/' + lang} class="text-white text-2xl font-bold flex flex-row"
        ><img
          src="/favicon.svg"
          alt={t('nav.logo.alt')}
          class="size-8"
        />Tsurayya<span class="gradient-text">{t('nav.logo.engineering')}</span
        ></a
      >
    </div>
    <div class="hidden lg:flex space-x-4 items-center">
      <NavDropdown
        title={t('nav.solutions')}
        content={solutionsContent}
        description={solutionDescription}
      />
      <NavDropdown
        title={t('nav.technologies')}
        content={technologiesContent}
        description={technologiesDescription}
      />
      <NavDropdown
        title={t('nav.company')}
        content={companyContent}
        description={companyDescription}
      />

      <div
        class="flex items-center space-x-2 px-4 py-2 rounded-full border border-white/20"
      >
        <a
          href={Astro.url.pathname.replace(`/${lang}`, '/en')}
          class={` ${lang === 'en' ? 'font-bold text-[var(--color-accent)]' : 'text-white'} `}
        >
          EN
        </a>
        <span class="text-white">|</span>
        <a
          href={Astro.url.pathname.replace(`/${lang}`, '/id')}
          class={` ${lang === 'id' ? 'font-bold text-[var(--color-accent)]' : 'text-white'} `}
        >
          ID
        </a>
      </div>
      <a
        href={'/' + lang + '/contact'}
        class="bg-[var(--color-accent)] text-dark px-3 py-2 rounded-full hover:opacity-90 cyber-button"
        >{t('nav.contact')}</a
      >
    </div>
    <div class="lg:hidden flex items-center gap-5">
      <div class="flex items-center space-x-2 px-3 py-2">
        <a
          href={Astro.url.pathname.replace(`/${lang}`, '/en')}
          class={` ${lang === 'en' ? 'font-bold text-[var(--color-accent)]' : 'text-white'} `}
        >
          EN
        </a>
        <span class="text-white">|</span>
        <a
          href={Astro.url.pathname.replace(`/${lang}`, '/id')}
          class={` ${lang === 'id' ? 'font-bold text-[var(--color-accent)]' : 'text-white'}`}
        >
          ID
        </a>
      </div>
      <button id="mobile-menu-button" class="text-white focus:outline-none">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path></svg
        >
      </button>
    </div>
  </nav>
  <div id="mobile-menu" class="md:hidden" style="display: none;">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <NavDropdownMobile
        title={t('nav.solutions')}
        content={solutionsContent}
        description={solutionDescription}
      />
      <NavDropdownMobile
        title={t('nav.technologies')}
        content={technologiesContent}
        description={technologiesDescription}
      />
      <NavDropdownMobile
        title={t('nav.company')}
        content={companyContent}
        description={companyDescription}
      />

      <a
        href={'/' + lang + '/contact'}
        class="bg-[var(--color-accent)] text-dark block px-3 py-2 rounded-full text-center text-base font-medium hover:opacity-90 cyber-button"
        >{t('nav.contact')}</a
      >
    </div>
  </div>
</header>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    // Scroll behavior
    const header = document.getElementById('main-header');
    if (header) {
      let lastScrollTop = 0;
      const scrollThreshold = 50;
      header.classList.remove('-translate-y-full');
      window.addEventListener('scroll', () => {
        const currentScroll =
          window.pageYOffset || document.documentElement.scrollTop;
        if (currentScroll > lastScrollTop && currentScroll > scrollThreshold) {
          header.classList.add('-translate-y-full');
          header.classList.remove('shadow-lg');
        } else if (
          currentScroll < lastScrollTop &&
          currentScroll > scrollThreshold
        ) {
          header.classList.remove('-translate-y-full');
          header.classList.add('shadow-lg');
        } else if (currentScroll <= scrollThreshold) {
          header.classList.remove('-translate-y-full');
          header.classList.remove('shadow-lg');
        }
        lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
      });
    }

    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');
    if (mobileMenuButton && mobileMenu) {
      mobileMenuButton.addEventListener('click', () => {
        const isMenuOpen = mobileMenu.style.display === 'block';
        mobileMenu.style.display = isMenuOpen ? 'none' : 'block';
      });
    }
  });
</script>
