---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  content: { title: string; href: string; description: string }[];
  description: { primary: string; secondary: string };
}

const { title, content, description } = Astro.props;
---

<div class="group relative hidden lg:block h-full">
  <button
    class="text-white hover:text-[var(--color-accent)] px-3 py-2 rounded-md text-sm font-medium focus:outline-none h-full flex items-center"
  >
    <span>{title}</span>
    <Icon
      name="heroicons:chevron-down"
      class="w-5 h-5 ml-1 transition-transform duration-300 ease-in-out group-hover:hidden"
    />
    <Icon
      name="heroicons:chevron-up"
      class="w-5 h-5 ml-1 transition-transform duration-300 ease-in-out hidden group-hover:block"
    />
  </button>
  <div
    class="fixed left-0 right-0 top-16 p-0 bg-dark opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 ease-in-out z-50 border border-primary/20 rounded-lg shadow-2xl"
  >
    <div class="flex flex-row">
      <span
        class="container grow p-6 w-lg h-full min-h-96 bg-dark-hover my-auto content-center"
      >
        <span class="text-xl text-light text-right"
          ><h3 class="font-bold">{description.primary}</h3>
          <p>{description.secondary}</p></span
        >
      </span>
      <span class="grid p-6">
        <div class="container mx-auto inline-grid">
          <div class="inline-grid grid-cols-1 md:grid-cols-2 gap-6">
            {
              content.map((item) => (
                <a
                  href={item.href}
                  class="block p-4 hover:bg-dark-hover rounded-lg transition-colors duration-200"
                >
                  <p class="font-bold text-white">{item.title}</p>
                  <p class="text-sm text-white opacity-90 mt-1">
                    {item.description}
                  </p>
                </a>
              ))
            }
          </div>
        </div>
      </span>
    </div>
  </div>
</div>